@using ERNI.Q3D
@model ERNI.Q3D.Models.NewPrintJobModel
@inject IMaintenanceProvider MaintenanceProvider
@{
    ViewBag.Title = "New print job";
    Layout = "_Layout";
}

@if (MaintenanceProvider.IsUnderMaintenance)
{
    <div class="alert alert-danger"><span class="glyphicon glyphicon-alert"></span> The printer is currently under maintenance. No prints can be triggered and no new prints can be uploaded</div>
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-3">
        <form asp-controller="PrintJob" asp-action="New" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            
            @Html.HiddenFor(_ => _.ManualMetadataMode)

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Name" />
            </div>
            
            <div class="form-group">
                <label asp-for="Link"></label>
                <input asp-for="Link" class="form-control" placeholder="Url (optional)" />
            </div>
            
            <div class="form-group">
                <label asp-for="FilamentType"></label>
                <select asp-for="FilamentType" class="form-control" asp-items="Html.GetEnumSelectList<ERNI.Q3D.Data.FilamentType>()"></select>
            </div>

            <div class="form-group">
                <label asp-for="File"></label>
                <input asp-for="File" type="file" placeholder="GCode" />
                <div>
                    <span class="text-warning">Only GCode files are allowed</span>
                </div>
            </div>
            
            @if (Model.ManualMetadataMode)
            {
                <div class="form-group">
                    <label asp-for="FilamentLength"></label>
                    <input asp-for="FilamentLength" class="form-control" placeholder="Length in m" />
                </div>

                <div class="form-group">
                    <label asp-for="PrintTime"></label>
                    <input asp-for="PrintTime" class="form-control" placeholder="hh:mm" />
                </div>
            }
            
            @if (MaintenanceProvider.IsUnderMaintenance)
            {
                <button type="submit" class="btn btn-default" disabled="disabled">Save</button>
            }
            else
            {
                <button type="submit" class="btn btn-default">Save</button>
            }
        </form>
    </div>
</div>